<!DOCTYPE html>
<html>

<head>
    <title>Weather App :: Help</title>
    <link rel="icon" href="../../public/img/sun.png">
    <link rel="stylesheet" href="./css/styles.css" />
</head>

<body>
    <div class="maincontent">
        {{>header}}

        <p> {{helpText}} </p>


    </div>
    {{>footer}}
</body>

</html>